Package: libmorpheus-perl
Version: 0.39
Architecture: all
Maintainer: Andrei Mishchenko <druxa@yandex-team.ru>
Installed-Size: 252
Depends: libdata-dump-perl, libdbi-perl, libjson-perl, libparams-validate-perl, libtemplate-perl, libxml-simple-perl, perl (>= 5.6.0-16)
Section: yandex
Priority: optional
Description: an extremely flexible configuration engine
 Morpheus is a configuration engine that supports custom plugins. It allows any program that uses it to be configured and reconfigured
 at different layers like local configuration files, configuration database, environment, etc. The overall program configuration is
 merged altogether from all these sources.
